# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local
*.tsbuildinfo

# Firebase
.firebase

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
